on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  release:
    types: [published]
  workflow_dispatch:

name: Slides-Export

jobs:
  build:
    runs-on: ubuntu-latest

    name: Generate PDF
    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4

      - name: Install DeckTape
        run: npm install -g decktape

      - name: Set environment variable for Chromium sandbox
        run: echo "CHROME_BIN=/usr/bin/google-chrome-stable" >> $GITHUB_ENV

      - name: Install Chromium dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libx11-dev \
            libx11-xcb1 \
            libxcomposite1 \
            libxdamage1 \
            libxrandr2 \
            libasound2-dev \
            libatk-bridge2.0-0 \
            libatk1.0-0 \
            libcups2 \
            libdbus-1-3 \
            libgdk-pixbuf2.0-0 \
            libnspr4 \
            libnss3 \
            libxss1 \
            libxtst6 \
            fonts-liberation \
            libappindicator3-1 \
            libatspi2.0-0 \
            libpango-1.0-0 \
            libharfbuzz0b


      - name: Disable Chromium sandbox completely
        run: |
          export CHROME_DEVEL_SANDBOX_PATH=/usr/bin/google-chrome-stable
          google-chrome-stable --no-sandbox --headless --disable-gpu --remote-debugging-port=9222 &
          sleep 5

      
      - name: Install http-server
        run: sudo npm install -g http-server

      - name: Start HTTP server
        run: http-server ./formation-R-perf-02-fonctions -p 8080 -d false &
      
      - name: Generate PDF with DeckTape
        run: decktape reveal http://localhost:8080/formation-R-perf-fonctions.qmd ./diaporama_pdf/Diaporama_module_fonctions.pdf --chrome-arg=--no-sandbox
      
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./diaporama_pdf
          destination_dir: ./diaporama_pdf
          publish_branch: main
          enable_jekyll: true